{% extends 'base.html' %}

    {% block content %}
        <div class="flight-container" style="overflow: auto; max-height: 80vh">
            <div class="table-responsive">
                <table class="table" id="flights">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Destination</th>
                            <th scope="col">Check in</th>
                            <th scope="col">Depature</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for row in telemetria %}
                        <tr id={{ row.id }}>
                            <th scope="row">{{ row.id }}</th>
                            <td> {{row.id }} </td>
                            <td> {{ row.ts }} </td>
                            <td> {{ row.ts }} </td>
                            <td> {{ row.ts }} </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endblock %}